/* Your app custom styles here */
.panel-backdrop{
    background-color: rgba(0, 0, 0, 0.6);

}
.md .panel-cover.panel-left {
    width: 300px;
}
.ninja{

    margin-bottom: -2px;
    scale: 1.13;
    color: #d31818;
}

.ppup{
    height:80%;
}

.menu i.icon {
    color: #848484;
}

.popupfooter p{
    color: #aeaeae;
    text-align: center;

}
.grid-container {
   align-items: center;
   display: flex;
   flex-direction: column;

}

.grid-item h1{
    color:#f8398c;
    font-size: 37px;
}

.grid-item3 {
    text-align: center !important;
    padding-bottom: 60px;
    padding-top: 7px;
}


.buttonBox{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.profimg{
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.profile-img{
    border-radius: 50%;
    margin-right: 3px;
}
.imgblk{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messages{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 50px;
}


/* .messages-content, .messages{
    background:black;
}

.message-name{
    color: white;
} */
h1{
    color:black !important;
}


.ib{
    margin-bottom: 50px;
   }

.ppup{
    margin: 25px;
}

.bottom-arrow {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #ffffff; /* Adjust color as needed */
    color: rgb(91, 91, 91);
    font-size: 25px;
    box-shadow: rgb(249, 249, 249) ;
    border-radius: 50%;
    box-shadow:0 8px 25px 0 rgba(0, 0, 0, 0.5) ;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000; /* Ensure it appears on top of other elements */
  }
  
  .bottom-arrow:hover {
    background-color: #0056b3; /* Adjust hover color as needed */
  }
  

#no-underline {
    text-decoration: none;
}

.messages-content {
    position: relative; /* Positioning context for child elements */
}

.messages-content::before {
    /* backdrop-filter: blur(2px); */
    content: ""; /* Required for pseudo-elements */
    position: fixed; /* Position the overlay */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
    z-index: 1; /* Ensure overlay is above the background */
}

.messages-content{
    background-image: url('bg.jpg');
    background-size: 240px 240px; 
    background-repeat: repeat; 
    height: 100vh; 
    position: relative;
}
/* .login-screen-content{
    backdrop-filter: blur(12px);
   background-color: #aeaeae0b;
} */
/* .messages-content {
    background-image: url('https://images4.alphacoders.com/134/1343898.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh; 
    position: relative;
} */


.message-name,.message-header{
    color: #ffffff;
}

.Linkdin{   
    display: none;
}
.signout{
    background-color: #d31818;
    margin-left: 13%;
    margin-right: 13%;
}

@media screen and (min-width: 700px) {


/* Linkdin */

.Linkdin ,.Linkdin a{
    display:inline;
    position: fixed;
    z-index: 999;
    transform: translateY(-50%);
    top: 50%;
    color:#e8e8e8;
    width:50px;
    height:150px;
    justify-content: space-between;
    cursor: pointer;
    left: 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0.01));
    backdrop-filter: blur(8px);
    box-shadow:0 20px 30px 0 rgba(0, 0, 0, 0.7) ;
}
.bx{
    padding: 14px 15px ;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.rotate-90 {

    transform: rotate(-90deg);
    font-family:'Reckless Neue Medium' ;
    padding: 40px 20px;
    padding-left: 0px;

    
  }

    .messages{
        margin-left: 80px;
        margin-right: 80px;
        margin-bottom: 0px;
    }
    .navbar-inner {
        padding: 18px;
    }

    .card{
        padding: 40px 80px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }
    .grid-container h1{
        padding: 10px;
        font-size: 35px;
    }
    .grid-item {

        text-align: center;
      }
    .grid-item3{
        padding-left: 25px;
        padding-right: 25px;
    }
}