/* Your app custom styles here */
.panel-backdrop{
    background-color: rgba(0, 0, 0, 0.6);

}
.md .panel-cover.panel-left {
    width: 300px;
}
.ninja{

    margin-bottom: -2px;
    scale: 1.13;
    color: #d31818;
}

.ppup{
    height:80%;
}

.menu i.icon {
    color: #848484;
}

.popupfooter p{
    color: #aeaeae;
    text-align: center;

}
.grid-container {
   align-items: center;
   display: flex;
   flex-direction: column;

}

.grid-item h1{
    color:#f8398c;
    font-size: 37px;
}

.grid-item3 {
    text-align: center !important;
    padding-bottom: 60px;
    padding-top: 7px;
}


.buttonBox{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.profimg{
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.profile-img{
    border-radius: 50%;
    margin-right: 3px;
}
.imgblk{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messages{
    margin-left: 5px;
    margin-right: 5px;
}


/* .messages-content, .messages{
    background:black;
}

.message-name{
    color: white;
} */
h1{
    color:black !important;
}

@media screen and (min-width: 700px) {
    .messages{
        margin-left: 50px;
        margin-right: 50px;
    }
    .navbar-inner {
        padding: 18px;
    }

    .card{
        padding: 40px 80px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }
    .grid-container h1{
        padding: 10px;
        font-size: 35px;
    }
    .grid-item {

        text-align: center;
      }
    .grid-item3{
        padding-left: 25px;
        padding-right: 25px;
    }
}


