#pip install -r requirements.txt
#pip install -U langchain-community

fastapi
uvicorn
python-dotenv
langchain-community==0.0.12
langchain
PyPDF2
faiss-cpu
langchain_google_genai
google-generativeai
python-multipart
