#pip install -r requirements.txt
#pip install -U langchain-community

fastapi
uvicorn
python-dotenv
langchain
PyPDF2
faiss-cpu
langchain-community
langchain_google_genai
google-generativeai
python-multipart