/* Your app custom styles here */

.ninja{

    margin-bottom: -2px;
    scale: 1.13;
    color: #d31818;

}

/* .messages-content, .messages{
    background:black;
}

.message-name{
    color: white;
} */

