/* Your app custom styles here */

.ninja{

    margin-bottom: -2px;
    scale: 1.13;
    color: #d31818;

}

.ppup{
    height:80%;
}

.menu i.icon {
    color: #848484;
}

.popupfooter p{
    color: #aeaeae;
    text-align: center;

}
/* .messages-content, .messages{
    background:black;
}

.message-name{
    color: white;
} */

@media screen and (min-width: 700px) {
    .navbar-inner {
        padding: 18px;
    }
}


